export STEEM_AUTHOR=wonsama1
export STEEM_SLB_DAY=1
export STEEM_PRICE_COIN=STEEM
export STEEM_RESTEEM_AUTHOR=wonsama2
export STEEM_RESTEEM_KEY_POSTING=5Jcv_please_change_yours
export STEEM_TAG=kr
export STEEM_KEY_POSTING=5Jcv_please_change_yours
export STEEM_KEY_ACTIVE=5Jcv_please_change_yours
export STEEM_ORDER_LIMIT=500
export STEEM_VOTES_LIST=wonsama3,wonsama4
export STEEM_SCRAP_AUTHOR=wonsama5
export STEEM_SCRAP_KEY_POSTING=5Jcv_please_change_yours